<!DOCTYPE html>
<html :class="{'theme-dark': dark}" x-data="data()" lang="en" xmlns:th="http://www.thymeleaf.org">					
<body>							
			<div class="w-full overflow-x-auto" id="listData">
				<table class="w-full whitespace-no-wrap">
  					<!-- 조회결과 리스트 타이틀-->
  					<thead>
    					<tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
      						<th class="px-2 py-1">
        						<input class="text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray mr-3"
          							id="checkboxAll" name="checkboxAll" type="checkbox"
          							style="height: 15px; width: 15px">
      						</th>
      						<th class="px-1 py-1" style="text-align: right;">#</th>
      						<th class="px-2 py-1" style="text-align: right;">주문</th>
      						<th class="px-2 py-1">주문일자</th>
      						<!--<th class="px-2 py-1">담당자</th>-->
      						<th class="px-2 py-1" style="text-align: right;">주문수량</th>
      						<th class="px-2 py-1" style="text-align: right;">주문금액</th>
      						<th class="px-2 py-1" style="text-align: right;">출고수량</th>
      						<th class="px-2 py-1" style="text-align: right;">잔여수량</th>
      						<th class="px-2 py-1" style="text-align: center;">출고여부</th>
      						<th class="px-2 py-1">등록일시</th>
      						<th class="px-2 py-1">수정일시</th>
      						<th class="px-2 py-1" style="text-align: center;">삭제여부</th>
      						<th class="px-2 py-1">작업</th>
    					</tr>
  					</thead>
  
  					<!-- 조회결과 리스트 내용 -->
  					<tbody id="trList" class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
  						<!-- 체크된 항목 담을 태그 -->
  						<input type="hidden" id="shCheckedArray" name="shCheckedArray" value="" />
  						
  						<tr th:if="${#lists.isEmpty(list)}">
	                  		<td colspan="14" class="text-center text-purple-600"> 
								There is no data !!!
	                  		</td>
  						</tr>
	                  	<tr class="text-gray-700 dark:text-gray-400" th:if="${!#lists.isEmpty(list)}" th:each="list : ${list}">
	                  		<td class="px-2 py-1">
	                  			<input th:if="${list.ordReleasedNy == 0}" class="checkboxList text-purple-600 form-checkbox focus:border-purple-400 focus:outline-none focus:shadow-outline-purple dark:focus:shadow-outline-gray mr-3"
	                  				id = "checkbox" name="checkbox" type="checkbox"
	                  				th:value="${list.ordSeq}"
	                        		style="height: 15px; width: 15px"
	                        		th:checked="false" />
	                    	</td>
	                    	<!--row순번-->
	                    	<td id="xRowNum" name="xRowNum" class="px-1 py-1" th:text="${list.xRowNum}" style="text-align: right;"></td>
	                    	<!--주문순번-->
	                    	<td id="ordSeq" name="ordSeq" class="px-2 py-1" th:text="${list.ordSeq}" style="text-align: right;"></td>
	                    	<!--주문일자-->
   							<td class="px-2 py-1" th:text="${#dates.format(list.ordDate, 'yyyy-MM-dd')}" ></td>
	                    	<!--담당자-->
							<!--<td id="mbrSeq" name="mbrSeq" class="px-2 py-1" th:text="${@membersService.selectOneMembersName(list.mbrSeq)}" ></td>-->
							<!--주문수량-->
							<td class="px-2 py-1" th:text="${#numbers.formatInteger(list.xortCount, 1,  'COMMA')}"  style="text-align: right;"></td>
							<!--주문금액-->
							<td class="px-2 py-1" th:text="${#numbers.formatInteger(list.xortAmt, 1,  'COMMA')}"  style="text-align: right;"></td>
							<!--출고수량-->
							<td class="px-2 py-1" th:text="${#numbers.formatInteger(list.xortCount_1, 1,  'COMMA')}"  style="text-align: right;"></td>
							<!--잔여수량-->
							<td class="px-2 py-1" th:text="${#numbers.formatInteger(list.xortCount_0, 1,  'COMMA')}"  style="text-align: right;"></td>
							<!--출고여부-->
	                    	<td class="px-2 py-1" style="text-align: center;">
								<th:block th:if="${list.xortCount != 0}">
		                        	<th:block th:switch="${list.ordReleasedNy}">
		                        		<span th:case = "0"
		                        			class="px-2 py-1 font-semibold leading-tight text-red-100 bg-red-600 rounded-full dark:text-white dark:bg-red-700">
		                        			미출고
		                        		</span>
		                        		<span th:case = "1"
		                        			class="px-2 py-1 font-semibold leading-tight text-blue-100 bg-blue-600 rounded-full dark:text-white dark:bg-blue-700">
		                        			출&emsp;고
		                        		</span>
		                        		<span th:case = "2"
		                        			class="px-2 py-1 font-semibold leading-tight text-red-100 bg-red-600 rounded-full dark:text-white dark:bg-red-700">
		                        			일&emsp;부
		                        		</span>                          		
		                        	</th:block>
								</th:block>
								<th:block th:unless="${list.xortCount != 0}">
									<span class="px-2 py-1 font-semibold text-orange-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
		                      		 	주문전
		                      		</span>
								</th:block>
	                        </td>
	                        <!--등록일시-->
	                        <td class="px-2 py-1" th:text="${#dates.format(list.ordRegDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
	                        <!--수정일시-->
	                        <td class="px-2 py-1" th:text="${#dates.format(list.ordModDt, 'yyyy-MM-dd HH:mm:ss')}"></td>
							<!--삭제여부-->
	                        <td class="px-2 py-1" style="text-align: center;">
	                        	<th:block th:switch="${list.ordDelNy}">
	                        		<span th:case = "0"
	                        			class="px-2 py-1 font-semibold leading-tight text-green-700 bg-green-100 rounded-full dark:bg-green-700 dark:text-green-100">
	                        			N
	                        		</span>
	                        		<span th:case = "1"
	                        			class="px-2 py-1 font-semibold leading-tight text-orange-700 bg-orange-100 rounded-full dark:bg-orange-700 dark:text-orange-100">
	                        			Y
	                        		</span>                        		
	                        	</th:block>
	                        </td>
							<!--작업-->
	                    	<td class="px-2 py-1" >
       	    					<div class="flex flex-col overflow-y-auto md:flex-row">
									<th:block th:if="${list.ordReleasedNy} != 1">
										<a th:href="@{/orderDetailCreate(ordSeq=${list.ordSeq})}">
              								<button class="btnSave flex items-center px-2 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" aria-label="Create" 
					                    		id="btnInsert" name="btnInsert">
												<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
											  		<path d="M8.75 3.75a.75.75 0 0 0-1.5 0v3.5h-3.5a.75.75 0 0 0 0 1.5h3.5v3.5a.75.75 0 0 0 1.5 0v-3.5h3.5a.75.75 0 0 0 0-1.5h-3.5v-3.5Z"></path>
												</svg>	
						                	</button> 
										</a>
									</th:block>
									<th:block th:unless="${list.ordReleasedNy} != 1">
          								<button class="btnSave flex items-center px-2 py-1 text-sm font-medium leading-5 text-white transition-colors duration-150 bg-purple-600 border border-transparent rounded-lg active:bg-purple-600 hover:bg-purple-700 focus:outline-none focus:shadow-outline-purple" aria-label="Create">
											<svg class="w-5 h-5" data-slot="icon" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
											  <path clip-rule="evenodd" fill-rule="evenodd" d="M10 1a4.5 4.5 0 0 0-4.5 4.5V9H5a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2v-6a2 2 0 0 0-2-2h-.5V5.5A4.5 4.5 0 0 0 10 1Zm3 8V5.5a3 3 0 1 0-6 0V9h6Z"></path>
											</svg>	
					                	</button> 
									</th:block>
				                </div>
    						</td> 
  						</tr> 
  					</tbody>
				</table>
				<!-- 페이지넘김 -->
				<div th:replace="~{infra/v1/include/bodySdm :: bodyPagingBtn}"></div>
			</div>
</body>			
</html>